/* some styling: globally applying helvetica, adding spotify green accents, other tweaks */
* {
    font-family: 'Helvetica', sans-serif !important;
}

.song-info a {
    color: #1DB954 !important;
    text-decoration: none;
}

.song-info a:hover {
    text-decoration: underline;
}

.song-info {
    margin: 5px 0;
    line-height: 1.5;
}